<header>
  <div class="top">
    <div class="top-item"><i class="iconfont icon-tel"></i> 13456140799</div>
    <div class="top-item"><i class="iconfont icon-email"></i> 553661679@qq.com</div>
  </div>
  <div>
    <div class="logo">LOGO</div>
    <div class="menu-item">
      <div>CULTURE</div>
      <div>企业文化</div>
    </div>
    <div class="menu-item">
      <div>SCHOOLS</div>
      <div>学校</div>
    </div>
    <div class="menu-item">
      <div>PROJECT</div>
      <div>特色项目</div>
    </div>
    <div class="menu-item">
      <div>CONTEST</div>
      <div></div>
    </div>
  </div>
</header>
