.header {
  margin: 0 auto;
  width: 1200px;
}
.top {
  height: 40px;
  background: #73C0C8;
}
.top-item {
  display: inline-block;
  margin-right: 30px;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
}
