<header>
  <div class="top">
    <div class="top-content">
      <div class="top-item"><i class="iconfont icon-tel"></i> 13456140799</div>
      <div class="top-item"><i class="iconfont icon-email"></i> 553661679@qq.com</div>
    </div>
  </div>
  <div class="menu">
    <div class="logo">LOGO</div>
    <div class="menu-item">
      <div>CULTURE</div>
      <div>企业文化</div>
    </div>
    <div class="menu-item">
      <div>SCHOOLS</div>
      <div>校园巡览</div>
    </div>
    <div class="menu-item">
      <div>PROJECT</div>
      <div>特色项目</div>
    </div>
    <div class="menu-item">
      <div>CONTEST</div>
      <div>比赛考级</div>
    </div>
    <div class="menu-item">
      <div>CLUB</div>
      <div>俱乐部</div>
    </div>
    <div class="menu-item">
      <div>PARTNERSHIP</div>
      <div>招聘加盟</div>
    </div>
    <div class="menu-item">
      <div>COMMUNITY</div>
      <div>家长社区</div>
    </div>
  </div>
</header>
