<div class="banner">
  <p class="t t1">享受学习 拥抱世界</p>
  <p class="t t2">
    <span class="mr">Enjoy Your Learning </span>
    <span>Embrace Our World</span>
  </p>
  <div class="banner-f"></div>
</div>
<div class="cl">
  <p class="text1">帮助我们的孩子建立国际化的视野和价值观，成为有责任有学识的全球公民，实现快乐成功人生，创造美好世界 ！教育的使命是培养我们的学生实现优秀的学术能力，塑造文明的品格素养，促进平和的心灵健康，开拓全球化的思维视野，成为世界卓越贡献者。</p>
  <p class="text2">The vision of Joy World Education is to empower our kids with global awareness, knowledge, skills and values necessary to become responsible and intelligent global citizens，to help them achieve their joyful and successful future and make our world better.</p>
  <p class="text2">The mission of education is to help our students achieve academic excellence, cultivate honorable conduct,<br /> maintain wellness in mind, develop global perspectives and become brilliant contributors of our world.</p>
  <div class="img">
    <div class="part1"></div>
    <div class="part2">
      <div class="top"><span>3-6岁幼儿英语</span></div>
      <div class="bottom"><span>7-12岁少儿英语</span></div>
    </div>
  </div>
</div>
<div class="introduce">
  <div class="content">
    <p class="english">We Are Not Teaching English, We Are Teaching Children!</p>
    <p class="chinese">教育是平等的、平民化的，我们一直在努力，搭建教育平台、专注教研产品研发、整合全球优质教育资源，希望让所有人都能享受高科技、多元化、高效学习的全球优质教育资源。</p>
  </div>
</div>
<div class="advantage">
  <div class="item">
    <img src="../../assets/images/p5.jpg" alt="">
    <div class="text">
      <div class="rec"></div>
      <span>21世纪课堂</span>
    </div>
  </div>
  <div class="item">
    <img src="../../assets/images/p5.jpg" alt="">
    <div class="text">
      <div class="rec"></div>
      <span>师资团队</span>
    </div>
  </div>
  <div class="item">
    <img src="../../assets/images/p5.jpg" alt="">
    <div class="text">
      <div class="rec"></div>
      <span>教学环境</span>
    </div>
  </div>
  <div class="item">
    <img src="../../assets/images/p5.jpg" alt="">
    <div class="text">
      <div class="rec"></div>
      <span>24小时服务</span>
    </div>
  </div>
</div>
