<footer>
  <div class="content">
    <div class="item-msg about-us">
      <div class="title">关于我们</div>
      <div class="intro">公司简介</div>
      <div class="intro">资源优势</div>
      <div class="intro">荣誉资质</div>
      <div class="intro">优质外教</div>
    </div>
    <div class="item-msg item-msg-center">
      <div class="title">精英课程</div>
      <div class="intro">3-6岁幼儿英语（幼儿英语探索课程）</div>
      <div class="intro">7-10岁儿童英语（儿童英语腾飞课程）</div>
      <div class="intro">10-13岁少儿英语（少儿英语拓展课程）</div>
      <div class="intro">14-17岁青少年英语（青少年英语领先课程）</div>
      <div class="intro">英语暑假班</div>
      <div class="intro">英语提分王</div>
    </div>
    <div class="item-msg item-msg-right">
      <div class="title">联系方式</div>
      <div class="intro">杨佳怡xxxxxxxx</div>
      <div class="intro">13456140799</div>
      <div class="intro">553661679@qq.com</div>
    </div>
    <div class="item-msg">
      <div class="erweima"><img src="../../../assets/images/erweima.png" alt=""></div>
      <div class="intro">我的二维码呀</div>
    </div>
  </div>
</footer>
